.frontpage {
    -fx-opacity: 40;
    -fx-background-image: url("/images_backgroundImages/background4_abstract_1900x1100.png");
    -fx-opacity: 10;
    -fx-background-image: url("/images_backgroundImages/bakgrunn_abstrakt_1480x1000.png");
    -fx-background-color: #71a9da;
}
.cloudsbg {
    -fx-background-image: url("/images_backgroundImages/learningCloudsBG.png");
    -fx-opacity: 70;
    -fx-background-color: #99caea;
}
.learnwindbg {
    -fx-background-image: url("/images_backgroundImages/abstractbackgrund_1400x1000.png");
    -fx-opacity: 70;
    -fx-background-color: #99caea;
}
.learnrainbg {
    -fx-opacity: 40;
    -fx-background-image: url("/images_backgroundImages/learn_rain_background.png");
    -fx-background-color: #99caea;

}
.learntemp {
    -fx-opacity: 40;
    -fx-background-image: url("/images_backgroundImages/bakgrunn_abstrakt_1480x1000.png");
    -fx-background-color: #99caea;

}
.learnmorerainbg {
    -fx-background-image: url("/images_backgroundImages/rainbg_1480x1000.png");
    -fx-background-color:  #B7E4FF  
}